* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
  margin: 10vw auto;
  gap: 5vw;
}

.metadata {
  display: flex;
  flex-direction: column;
  gap: 1.25vw;
}

.metapoint {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
  font-size: 2.5vw;
}

.meta-title {
  font-weight: bold;
}

.overview {
  width: 100%;
  text-align: start;
  font-size: 2.5vw;
  line-height: 1.5;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.5vw;
}

.about-title {
  font-size: 4vw;
  font-weight: bold;
}

.about ul {
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  gap: 0.75vw;
}

.about li {
  font-size: 2.5vw;
  line-height: 1.5;
}

.service {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.5vw;
}

.service-title {
  font-size: 4vw;
  font-weight: bold;
}

.outer-layer {
  font-size: 2.5vw;
  font-weight: bold;
  list-style-type: decimal;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  gap: 1.25vw;
}

.inner-layer {
  font-size: 2vw;
  font-weight: normal;
  list-style-type: circle;
  margin-left: 5vw;
  line-height: 1.5;
}

.rules {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5vw;
  font-weight: bold;
}

.rules-title {
  font-size: 4vw;
}

.rules ul {
  display: flex;
  flex-direction: column;
  gap: 1.25vw;
  list-style-type: "✅";
  font-size: 2.5vw;
  margin-left: 5vw;
  line-height: 1.5;
}

.facilities {
  display: flex;
  flex-direction: column;
  gap: 2.5vw;
  width: 100%;
}

.facilities-title {
  font-weight: bold;
  font-size: 4vw;
}

.facilities table {
  font-size: 2.5vw;
  border-collapse: collapse;
  border-spacing: 0;
}

.facilities td {
  padding: 1vw;
  border: solid black 0.1vw;
  text-align: center;
}

.facilities .table-head {
  font-weight: bold;
}

.membership {
  display: flex;
  flex-direction: column;
  gap: 1.25vw;
}

.mem-title {
  font-weight: bold;
  font-size: 2.5vw;
}

.membership ul {
  display: flex;
  flex-direction: column;
  gap: 0.75vw;
  font-size: 2.5vw;
  margin-left: 5vw;
}

.registration {
  display: flex;
  flex-direction: column;
  gap: 2.5vw;
  width: 100%;
}

.registration-title {
  font-size: 4vw;
  font-weight: bold;
}

.registration-contents {
  display: flex;
  flex-direction: column;
  gap: 1.25vw;
  font-size: 2.5vw;
}

.registration-content {
  display: flex;
  flex-direction: column;
  gap: 0.75vw;
}

.registration-content ul {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  gap: 0.5vw;
}

.reg-footer {
  font-size: 2.5vw;
}

.footer table {
  font-size: 2.5vw;
  border-collapse: collapse;
  border-spacing: 0;
}

.footer td {
  padding: 1.5vw 2vw;
  text-align: center;
  border: solid black 0.1vw;
}
